# Server Configuration
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=

# JWT Secret
JWT_SECRET=

# Frontend URL
FRONTEND_URL=http://localhost:5173



# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


